/*This is my Universal selector, added color so all text could reflect the same and delete unneccesary code. */

/* General Page Css */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

/*Body of the webpage will have all same background color*/
body {
    background-color: #d9dcd6;
}

/*All paragraph sections of the webpage will have the same font size*/
p {
    font-size: 16px;
}

/* Header section */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

/*This is a slighlty different color within the Horiseon logo at the top*/
header h1 .seo {
    color: #d8d6dc;
}

/*Navigation links format at the top right*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*the main banner of the page with link to image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Main section of the page with the three blocks of content*/
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
}

main section img {
    max-height: 200px;
}

/*First and third or last block of content will follow this format*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Only the second block of content under the main will follow this format*/
.float-right {
    float: right;
    margin-left: 25px;
}

main section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*This section appears on the right of the main 3 blocks of content*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

aside section {
    margin-bottom: 32px;
}

aside section h3 {
    margin-bottom: 10px;
    text-align: center;
}

aside section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Very bottom of the page*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*Color of the font for the header and paragraph are both black*/
footer h4 {
    font-size: 20px;
    color: black; 
}

footer p {
    color: black;
}